@import "src/assets/style/variables";


.product-table-payment {
  margin-top      : 10px;
  display         : flex;
  gap             : 10px;
  justify-content : space-between;

  @media screen and (max-width : 1126px) {
    flex-wrap : wrap;
  }

}

.P-table-scroll {
  width      : 100%;
  overflow   : hidden;
  overflow-x : auto;

  .table-block{
    width: 100%;
  }
}

.basket-container-name {
  background-color : white;
  padding          : 0 0 20px;

  p{
    font-size: $font-size-24;
  }
}

.table-block {
  width : 55%;


  @media screen and (max-width : 1886px) {
    width : 45%;
  }
  @media screen and (max-width : 1680px) {
    width : 40%;
  }

  @media screen and (max-width : 1474.80px) {
    width : 100%;
  }

  thead {
    background-color : $light-grey;


    th {
      padding   : 10px;
      color     : white;
      max-width : 100%;
      min-width : 150px;
    }

  }

  tbody {
    tr {
      background-color : white;

      td {
        padding    : 10px;
        color      : $green;
        font-size  : $font-size-16;
        text-align : center;
        border     : 1px solid;
        max-width  : 100%;
        min-width  : 100px;

        img {
          width  : 50px;
          height : 50px;
        }

        span {
          margin           : 10px;
          padding          : 10px;
          font-size        : $font-size-16;
          cursor           : pointer;
          background-color : orange;
          color            : $light-grey;

          &:hover {
            background-color : red;
          }
        }
      }
    }
  }

}

.payment-block {
  width : 40%;
  background-color: $white3;
  border-radius: 10px;

  @media screen and (max-width : 1886px) {
    width : 45%;
  }

  @media screen and (max-width : 1680px) {
    width : 40%;
  }
  @media screen and (max-width : 1474.80px) {
    width  : 100%;
    height : auto;
  }

}


.cart-summary {

  p {
    color     : $gold;
    font-size : $font-size-16;

  }
}

.payment-container {
  display          : flex;
  background-color : $white3;
  justify-content  : space-between;
  padding: 10px;
  margin-top : 10px;



  h2 {

    padding    : 0 0 10px;

  }
}
.routing-checkout{
  text-align: center;
  margin-top: 20px;

  a{
     text-decoration: none;
    background-color: $gold;
     font-size: $font-size-16;
    padding: 10px;
    display: block;

  }
}


