@import "src/assets/style/variables";

.categories-detail-title {
  margin-top: 20px;

  span {
    padding: 0 0 10px;
  }
}

.filter-product {
  width: 20%;

  @media screen and (max-width: 1065px) {
    width: 100%;
  }
}

.detail-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 20px;

  @media screen and (max-width: 1065px) {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.filter-container {
  min-width: 200px;
  min-height: 300px;
  margin-top: 20px;

  background-color: white;
}

.detail-product-list {
  width: calc(100% - 20%);
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @media screen and (max-width: 1065px) {
    width: 100%;

  }

  .loader {
    font-size: $font-size-16;
    color: $red;
  }


}
