@import "src/assets/style/variables";

.products-list{
  background-color: $white1;
  min-width: 100px;
  min-height: 100px;
  border-radius: 20px;
  p{
    font-size: $font-size-16;
    color: gold;
    padding: 10px;

  }
}

.products-change-tools{
   display: flex;
  justify-content: space-between;
  padding: 10px;


  span{
    font-size: $font-size-16;
    color: aqua;
    cursor: pointer;
  }

}

.products-info{


  p{
     font-size: $font-size-16;
    color: $gold;
    padding: 10px;
  }

  span{
     color: white;
    font-size: $font-size-16;
  }

  img{
    width: 100px;
    height: 100px;
  }
}