@import "src/assets/style/variables";

.footer-container{
  margin-top: 50px;
   background-color:$light-grey ;
}
.footer-info{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1{
     color: white;
    padding: 0 0 10px;
    font-size: $font-size-30;
  }
  p{
     color: white;
    padding: 0 0 10px;
    font-size: $font-size-30;
    max-width: 600px;

  }
  span{
   display: block;
    font-size: $font-size-30;
    color: $gold;
    margin: 0 0 20px;
    padding: 0 0 20px;
    cursor: pointer;
  }
  //@media screen and (max-width: 1288px){
  //  justify-content: center;
  //}

}


